---
---
<h2>Publicaties</h2>

{% assign shown_publications = site.data.publicaties | where: "hide", false | sort: "date" | reverse %}

{% for publicatie in shown_publications %}
<article>
	<a class="invisible" href="{{ publicatie.link }}">
		<h4>
			{{ publicatie.hoofdtekst | markdownify | remove: '<p>' | remove: '</p>' }}
			{% if publicatie.date %}
			({{ publicatie.date | date: "%Y" }})
			{% endif %}
		</h4>
		<p>{{ publicatie.ondertekst | markdownify | remove: '<p>' | remove: '</p>' }}</p>
	</a>
</article>
{% endfor %}
