html {
	background-color: #1b1b1b;
	min-height: 100vh;
	font-family: Cambria,serif;
	max-width: 80%;
	margin: 0 auto;
}

body {
	color: #fff;
	max-width: 1000px;
	margin: 0 auto;
}

.tagline {
	font-size: larger;
	font-style: italic;
}

a {
	color: inherit;
}

aside,
main {
	display: inline-block;
	vertical-align: top;
}

aside {
	min-width: fit-content;
	width: 25%;
}

/* to make every new paragraph indent */
/* p {
	text-indent: 2em;
	margin: 0.2em;
} */

blockquote {
	border-left: 3px solid grey;
	margin: 1.5em 1em;
	padding: 0 10px;
}

main {
	max-width: 60%;
	padding-bottom: 10%;
	margin-left: 3em;
}

address {
	font-style: normal;
}

a:link,
a:active,
a:visited,
a:hover {
	color: inherit;
}

a.invisible {
	text-decoration: none;
}

h4 {
	margin-bottom: 0.5em;
}

img {
	max-width: 80%;
}

@media only screen and (max-width: 860px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
	}

	#content {
		display: flex;
		flex-direction: column-reverse;
	}

	aside, main {
		width: fit-content;
	}

	main {
		margin-left: 0;
		padding-bottom: 1em;
		border-top: grey solid 1px;
		border-bottom: grey solid 1px;
		max-width: 100%;
	}
}
