<html lang="nl">

<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.title }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
	<link rel="icon" type="image/icon" href="/media/favicon.ico">
	<link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#1b1b1b">
	<meta name="theme-color" content="1b1b1b">
	<title>{% if page.title %}{{ page.title }} |{% endif %}{{ site.title }}</title>
</head>

<body>
	<header>
		<h1>
			<a class="invisible" href="/">
				{{ site.title }}
			</a>
		</h1>
		<p class="email">
			<a href="mailto:{{ site.mail }}">{{ site.mail }}</a>
		</p>
	</header>
	<main>
		{% if page.title %}
		{{ page.title | prepend:'## ' | markdownify }}
		{% endif %}
		{% if page.date %}
		<p>{% assign m = page.date | date: "%-m" %}
			{{ page.date | date: "%-d" }}
			{% case m %}
			{% when '1' %}januari
			{% when '2' %}februari
			{% when '3' %}maart
			{% when '4' %}april
			{% when '5' %}mei
			{% when '6' %}juni
			{% when '7' %}juli
			{% when '8' %}augustus
			{% when '9' %}september
			{% when '10' %}oktober
			{% when '11' %}november
			{% when '12' %}december
			{% endcase %}
			{{ page.date | date: "%Y" }}</p>
		{% endif %}

		{{ content }}
	</main>
</body>

</html>
